<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="vue.js"></script>
    <script>
        window.onload = function () {
            // 创建一个Vue对象
            var vm = new Vue({
                el: '#box',
                data: {
                    content: 'Vue的基本使用',

                }
            });
            var vm1 = new Vue({
                el: '#h1',
                data: {
                    name:'张三',
                    email:'846395475@qq.com',
                    url:'http://www.baidu.com',

                },
                methods:{
                    fnAddClick:function f() {
                        alert(123)

                }
            }
            });
            var vm2 = new Vue({
                el: '#li',
                data: {
                    list:['a','b','c','d'],
                    objData:{
                        name:'winnie',
                        age:19
                    }

            }
            });

        }
    </script>


</head>
<body>

    <div id='box'>
        {{content}}
    </div>
    <hr>
    <h1 id = 'h1'>
        {{name}}<br>
        {{email}}<br>
        <a v-bind:href="url">百度</a><br>
<!--       v-bind：直接简写为冒号即可-->
        <a :href="url">度娘</a>
        <hr>
        <button v-on:click="fnAddClick">按钮一</button>

        <button @click="fnAddClick">按钮二</button>
    </h1>
    <hr>
    <div id='li'>
        <li v-for='value in list'>{{value}}</li>
        <br>
        <li v-for='(value,key,index) in objData'>{{index}}===={{key}}===={{value}}</li>
    </div>



</body>
</html>